/*
** COLORS HEX CODE
** BLACK  #000000
** BLUE   #0000ee
** GRAY   #808080
** RED    #990033
** ORANGE #de2226
** WHITE  #ffffff
*/
*
{
    margin: 0; /* remove any margin from body */
    padding: 0;
}

body
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #000000;
    color: #de2226;
    background-image: url(../images/site/background.jpg);
}

#mainnav
{
    background-color: #de2226;
    color: #ffffff;
    margin-top: 35px;
    text-align: center;
    font-size: 1.5em;
}

#mainnav nav ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

main
{
    background-color: #ffffff;
}

h2
{
    color: #000000;
}

footer
{
    text-align: center;
}

.paragraph
{
    color: #000000;
}

@media screen and (min-width: 650px)
{
    body
    {
        font-size: 2.5em;
    }
    #mainnav nav ul
    {
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
    }

}
